{
  "plugins": ["prettier-plugin-solidity"],
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "parser": "slang",
        "printWidth": 100,
        "tabWidth": 2,
        "singleQuote": false,
        "bracketSpacing": true
      }
    },
    {
      "files": "*.ts",
      "options": {
        "printWidth": 100,
        "tabWidth": 2,
        "singleQuote": false,
        "semi": true
      }
    }
  ]
}
